<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESP32 Control</title>
    <!-- Agrega tus enlaces a scripts -->
    <script type="text/javascript" src="../static/js/get_prendido_apagado.js"></script>
    <script type="text/javascript" src="../static/js/get_data.js"></script>
</head>

<body onload="get_data()">
    <div style="text-align: center; margin-top: 50px;">
        <h1>Control de Encendido/Apagado</h1>
        <label for="valor">Valor:</label>
        <input type="number" name="valor" id="valor" min="0" max="1">
        <button onclick="on_off(document.getElementById('valor').value)">Enviar</button>
        <p id="status"></p>
    </div>
</body>

</html>
